# Docker namespace + Traefik subdomain (https://__SLUG__.__DOMAIN__)
COMPOSE_PROJECT_NAME=__SLUG__
APP_SUBDOMAIN=__SLUG__
DOCKER_USER=1000:1000

POSTGRES_USER=app
POSTGRES_DB=app
POSTGRES_PASSWORD=__DB_PASSWORD__

# Production
APP_PORT=8080
